/* reset box-sizing to border-box by default */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* reset margin/padding */
* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-family: system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button,
input::-webkit-search-cancel-button,
input::-webkit-search-decoration,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

/* Focusing with a mouse, touch, or stylus will not show an outline. */
:focus:not(:focus-visible) {
  outline: none;
}

#map {
  height: 100%;
  margin: 0;
  padding: 0;
}
